.restart-container {
    margin: 1rem;
    padding: 1rem;
    font-size: larger;
}

.restart {
    padding: 1rem;
    
}

.help-text {
    margin: 1.5rem;
    padding: 0.25rem;
}

.keys {
    background-color: bisque;
    border-radius: 5px;
    padding: 1px;
}

.text {
    margin: 6px;
}