.App{
    text-align: center;
    font-family: "Roboto Mono", "Roboto Mono", "Vazirmatn", monospace;

    display: flex;
    flex-direction: column;
    height: 100%;
}

.content {
    flex-grow: 1;
}