.header {
    padding: 1.5rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left-section {
    font-size: large;
    margin: 10px;
    margin-right: 1rem;
}

.right-section {
    font-size:large
}

span {
    margin-left: 1rem;
    margin-right: 1rem;
}

.logo {
    font-size: xx-large;
}

.header-link{
    font-size: larger;
}

.header-link:hover {
    font-size: x-large;
    color: rgb(100, 100, 100);
}