.phrase-container {
    margin: 1rem;
    padding: 1rem;
    
    height: 140px;
    border: 1px solid #ccc; /* Optional: Add a border for visualization */
    word-wrap: normal;
    overflow: hidden;

    font-size: x-large;
}

.word{
    margin: 3px;
}

.character {
    margin: 1px;
}